@media screen and (max-width: 480px){
	/*Estilos para moviles*/
	html{
		font-size: 14px;
	}

	body{
		background-color: #03A9F4
	}

	div{
		width: 95%;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	/* Estilos para tablets*/
	html{
		font-size: 15px;
	}

	body{
		background-color: #FF9800
	}

	div{
		width: 85%
	}
}

@media screen and (min-width: 769px){
	/*Estilos para pc*/
	html{
		font-size: 16px;
	}

	body{
		background-color: #E0E0E0
	}

	div{
		width: 75%
	}
}

body{
	font-family: arial;
	background: #e8e8e8;

}
header{
	position: fixed;
	text-align: center;
	background: #e8e8e8;
	width: 100%;
	margin: auto;
	top: 0;
	height: 150px;
}

.menu{
	list-style: none;
	padding: 0;
	background: #088BAF;
	width: 100%;
	margin: auto;
	position: fixed;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 38px;
	display: block;

}
.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a:hover{
	background: #08AF93;
}
.imagn{
	width: 90%;
	margin: auto;
}
.simbolospatrios{
	padding:0;
	margin: auto;
}
.mapa{
	padding:0;
	margin: auto;
}